@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Colors */
/* Breakpoints */
/* Fonts */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: #fbfbfb;
  background-color: #222222;
}

.accent-blue {
  color: #193f6e;
}

.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-image: linear-gradient(to left, transparent, transparent);
}

.icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 768px) {
  .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}

.information {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}

.info-text {
  text-decoration: none;
  color: #222222;
}
.info-text:hover {
  color: #193f6e;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0rem auto;
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 110rem;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 100rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-image: linear-gradient(to left, transparent, transparent);
}

.icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 768px) {
  .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}

.information {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}

.info-text {
  text-decoration: none;
  color: #222222;
}
.info-text:hover {
  color: #193f6e;
}

#nav-fixed {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 251, 251, 0.1) 15%, rgba(255, 251, 251, 0.2) 25%, rgb(177, 211, 227) 50%);
}

.navigation-component {
  padding: 3rem 2rem 10rem 2rem;
  margin: 0 auto;
}
.navigation-component .elements-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 4rem;
}
.navigation-component .logo {
  width: 18rem;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  .navigation-component .logo {
    width: 15rem;
  }
}
.navigation-component .logo img {
  width: 100%;
  height: 100%;
}
.navigation-component .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1400px) {
  .navigation-component .menu {
    gap: 4rem;
  }
}
@media screen and (max-width: 1250px) {
  .navigation-component .menu {
    gap: 2rem;
  }
}
.navigation-component .list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
  list-style: none;
  padding: 0;
}
.navigation-component .link-menu {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #222222;
  transition: color 0.3s ease-in-out;
}
.navigation-component .link-menu::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #193f6e;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navigation-component .link-menu:hover {
  color: #193f6e;
}
.navigation-component .link-menu:hover::before {
  transform: scaleX(1);
}
.navigation-component .space {
  display: inline-block;
  width: 8.8rem;
}
.navigation-component .hamburger {
  display: none;
  background-color: #193f6e;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
}
.navigation-component .hamburger .bar {
  display: block;
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #fbfbfb;
}
@media screen and (max-width: 1150px) {
  .navigation-component .menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding-bottom: 35rem;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 251, 251, 0.1) 10%, rgba(255, 251, 251, 0.2) 20%, rgb(177, 211, 227) 40%);
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    transition: 0.3s;
    gap: 4rem;
    z-index: 3;
  }
  .navigation-component .menu.active {
    left: 0;
  }
  .navigation-component .primary-button {
    margin: 0 auto;
  }
  .navigation-component .primary-button.nav {
    background-color: #193f6e;
    color: #fbfbfb;
  }
  .navigation-component .primary-button.nav:hover {
    background-color: #3b6ba5;
  }
  .navigation-component .list {
    padding-top: 8rem;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
  }
  .navigation-component .list-link {
    position: relative;
    width: 70%;
    text-align: center;
    padding: 2rem 0 1rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .navigation-component .link-menu {
    color: #222222;
    font-weight: 500;
  }
  .navigation-component .link-menu.active {
    color: #193f6e;
  }
  .navigation-component .link-menu::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: #193f6e;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .navigation-component .link-menu:hover {
    color: #193f6e;
  }
  .navigation-component .link-menu:hover::before {
    transform: scaleX(1);
  }
  .navigation-component .hamburger {
    display: block;
    cursor: pointer;
    z-index: 9;
  }
  .navigation-component .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation-component .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.7rem) rotate(45deg);
  }
  .navigation-component .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-image: linear-gradient(to left, transparent, transparent);
}

.icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 768px) {
  .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}

.information {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}

.info-text {
  text-decoration: none;
  color: #222222;
}
.info-text:hover {
  color: #193f6e;
}

.form-component {
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
.form-component .form-text-box {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
}
.form-component .cta-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.form-component .error {
  color: red !important;
  font-size: 1.2rem !important;
  display: block;
  margin-top: 0.5rem;
}
.form-component .form-item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
}
.form-component .form-item label {
  font-size: 1.6rem;
  color: #222222;
}
.form-component .form-item label .icon {
  color: #193f6e;
  margin-right: 0.8rem;
}
.form-component .form-item input,
.form-component .form-item textarea {
  border-radius: 0.6rem;
  background-color: #b1d3e3;
  padding: 1.5rem;
  color: #222222;
  outline: none;
  border: none;
}
.form-component .form-item input::-moz-placeholder, .form-component .form-item textarea::-moz-placeholder {
  color: #494949;
}
.form-component .form-item input::placeholder,
.form-component .form-item textarea::placeholder {
  color: #494949;
}
.form-component .form-item input:focus,
.form-component .form-item textarea:focus {
  border: 0.1rem solid #193f6e;
}
.form-component .form-item input.error,
.form-component .form-item textarea.error {
  border: 0.3rem solid red;
  font-weight: 500;
  color: red;
}
.form-component .btn {
  border: none;
  border-radius: 0.6rem;
  background-color: #193f6e;
  padding: 1.5rem;
  color: #fbfbfb;
  cursor: pointer;
  font-size: 1.8rem;
}
.form-component .btn:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
}
.form-component .message {
  color: #222;
  display: none;
}
.form-component .message.active {
  display: block;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.intro {
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 4rem;
  }
}

.title {
  font-size: 6rem;
  font-weight: 500;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 1.5rem 0;
  background-image: linear-gradient(to left, #222222, #3b6ba5);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 4rem;
    margin-top: 5rem;
  }
}

.subtitle {
  font-size: 1.8rem;
  position: relative;
  padding-bottom: 1rem;
}
.subtitle::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 0.3rem;
  content: "";
  background-color: #193f6e;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-image: linear-gradient(to left, transparent, transparent);
}

.icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 768px) {
  .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}

.information {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}

.info-text {
  text-decoration: none;
  color: #222222;
}
.info-text:hover {
  color: #193f6e;
}

.about-me-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .about-me-component {
    margin-bottom: 12rem;
  }
}
.about-me-component .content {
  display: flex;
  gap: 8rem;
  align-items: center;
  padding: 0 2rem;
}
@media screen and (max-width: 991px) {
  .about-me-component .content {
    flex-direction: column-reverse;
    gap: 5rem;
    margin-top: 2rem;
  }
}
.about-me-component .container-img {
  max-width: 50rem;
  width: 100%;
  height: 100%;
}
.about-me-component .container-img img {
  width: 100%;
  height: 100%;
}
.about-me-component .text {
  border-bottom: 0.1rem solid #193f6e;
  padding-bottom: 1rem;
  position: relative;
}
.about-me-component .text .accent-blue {
  color: #193f6e;
  font-weight: 500;
}
.about-me-component .info-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0 3rem 0;
}
.about-me-component .description {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .about-me-component .description {
    width: 100%;
  }
}
.about-me-component .buttons-container {
  display: flex;
  gap: 1rem;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-image: linear-gradient(to left, #193f6e, #3b6ba5);
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-image: linear-gradient(to left, transparent, transparent);
}

.icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 768px) {
  .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}

.information {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}

.info-text {
  text-decoration: none;
  color: #222222;
}
.info-text:hover {
  color: #193f6e;
}

.contact-component {
  padding: 0 2rem;
  display: flex;
  gap: 8rem;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .contact-component {
    flex-direction: column;
    gap: 5rem;
  }
}
.contact-component .intro {
  margin-bottom: 0;
}
.contact-component .description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-component .info-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
@media screen and (max-width: 768px) {
  .contact-component .info-contact {
    margin: 1rem 0;
    gap: 1rem;
  }
}
.contact-component .buttons-container {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 991px) {
  .contact-component .buttons-container {
    gap: 1rem;
  }
}
.contact-component .container-form {
  max-width: 50rem;
  width: 100%;
  border: 0.2rem solid #193f6e;
  border-radius: 1rem;
}
@media screen and (max-width: 991px) {
  .contact-component .container-form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .contact-component .container-form {
    max-width: 100%;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.experience-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .experience-component {
    margin-bottom: 12rem;
  }
}
.experience-component .experience-container {
  border: 0.2rem solid #193f6e;
  border-radius: 1rem;
  padding: 3rem;
}
.experience-component .job {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid #193f6e;
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .experience-component .job {
    flex-direction: column;
    gap: 2rem;
  }
}
.experience-component .info-contact {
  display: flex;
  gap: 4rem;
  margin: 3rem 0 3rem 0;
}
@media screen and (max-width: 768px) {
  .experience-component .info-contact {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
  }
}
.experience-component ul {
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .experience-component ul {
    margin-bottom: 4rem;
  }
}
.experience-component ul li {
  margin-bottom: 1rem;
}
.experience-component .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}
.experience-component .skill-name {
  color: #193f6e;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.hero {
  padding: 0 0 24% 0;
  background: url("../../image/sections-img/wave-bottom.png") bottom/100% auto, linear-gradient(#b1d3e3, #b1d3e3) content-box;
  background-repeat: no-repeat;
}

.hero-component {
  position: relative;
  display: flex;
  padding: 15rem 2rem 2rem 2rem;
  gap: 12rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .hero-component {
    gap: 4rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component {
    flex-direction: column;
    gap: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .hero-component {
    gap: 0rem;
  }
}
.hero-component .hero-title {
  width: 100%;
  color: #222222;
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .hero-component .hero-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-title {
    font-size: 4rem;
  }
}
.hero-component .hero-title .accent-blue {
  color: #193f6e;
}
.hero-component .hero-text {
  line-height: 4rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to left, #222222, #3b6ba5);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 4rem;
}
@media screen and (max-width: 992px) {
  .hero-component .hero-text {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-text {
    font-size: 3rem;
  }
}
.hero-component .hero-img {
  max-width: 50rem;
  width: 100%;
  height: 100%;
}
.hero-component .hero-img img {
  width: 100%;
  height: 100%;
}
.hero-component.left-img {
  flex-direction: row-reverse;
}
@media screen and (max-width: 991px) {
  .hero-component.left-img {
    flex-direction: column;
  }
}
.hero-component .container-btn {
  padding: 1.2rem 0;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-component .container-btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #b1d3e3;
  transform: translateY(-0.25em);
}
.hero-component .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  margin-top: 6.5rem;
}
@media screen and (max-width: 768px) {
  .hero-component .buttons-container {
    margin-top: 4rem;
    gap: 1rem;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
/* Colors */
/* Breakpoints */
/* Fonts */
.intro {
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 4rem;
  }
}

.title {
  font-size: 6rem;
  font-weight: 500;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 1.5rem 0;
  background-image: linear-gradient(to left, #222222, #3b6ba5);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 4rem;
    margin-top: 5rem;
  }
}

.subtitle {
  font-size: 1.8rem;
  position: relative;
  padding-bottom: 1rem;
}
.subtitle::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 0.3rem;
  content: "";
  background-color: #193f6e;
}

.projects-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .projects-component {
    margin-bottom: 12rem;
  }
}
.projects-component .slider-container {
  max-width: 75rem;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  .projects-component .slider-container {
    max-width: 60rem;
  }
}
@media screen and (max-width: 1024px) {
  .projects-component .slider-container {
    max-width: 40rem;
  }
}
@media screen and (max-width: 991px) {
  .projects-component .slider-container {
    max-width: 80rem;
  }
}
.projects-component .slider-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.projects-component .project {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .projects-component .project {
    flex-direction: column-reverse;
    gap: 5rem;
    margin-top: 2rem;
  }
}
.projects-component .subtitle-project {
  color: #72a5d3;
  text-align: right;
}
@media screen and (max-width: 991px) {
  .projects-component .subtitle-project {
    text-align: left;
  }
}
.projects-component .title-project {
  font-size: 5rem;
  margin: 1rem 0 2rem 0;
  color: #193f6e;
  text-align: right;
}
@media screen and (max-width: 991px) {
  .projects-component .title-project {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .projects-component .title-project {
    font-size: 3rem;
  }
}
.projects-component .description {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .projects-component .description {
    text-align: left;
  }
}
.projects-component .icon {
  margin-top: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: #193f6e;
  float: right;
}
@media screen and (max-width: 768px) {
  .projects-component .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.projects-component .icon:hover {
  color: #3b6ba5;
  -webkit-background-clip: text;
          background-clip: text;
  transform: translateY(-0.25em);
}
.projects-component .slick-dots li button::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #193f6e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Colors */
/* Breakpoints */
/* Fonts */
.skills-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .skills-component {
    margin-bottom: 12rem;
  }
}
.skills-component .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 8rem 1rem;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .skills-component .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 5rem 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .skills-component .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem 1rem;
  }
}
.skills-component .skill {
  margin: 0 auto;
}
.skills-component .skill-img {
  max-height: 11rem;
  height: 100%;
  max-width: 10rem;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .skills-component .skill-img {
    max-width: 9rem;
    max-height: 9rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-component .skill-img {
    max-width: 7rem;
    max-height: 7rem;
  }
}
.skills-component .skill-img img {
  width: 100%;
  height: 100%;
}
.skills-component .skill-name {
  font-weight: 500;
  text-align: center;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.footer {
  padding: 23% 0 0 0;
  position: relative;
  background: url("../../image/sections-img/wave-top.png") top/100% auto, linear-gradient(#b1d3e3, #b1d3e3) content-box;
  background-repeat: no-repeat;
}

.footer-component {
  padding: 3rem 2rem 6rem 2rem;
}
.footer-component .logo {
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
}
.footer-component .logo img {
  width: 100%;
  height: 100%;
}
.footer-component .footer-links {
  padding: 0 2rem;
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .footer-component .footer-links {
    gap: 12rem;
  }
}
@media screen and (max-width: 1400px) {
  .footer-component .footer-links {
    gap: 10rem;
  }
}
@media screen and (max-width: 540px) {
  .footer-component .footer-links {
    flex-direction: column;
    gap: 6rem;
  }
}
.footer-component .footer-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer-component .title-list {
  color: #222222;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .footer-component .title-list {
    font-size: 1.6rem;
  }
}
.footer-component .item-list {
  text-decoration: none;
  color: #222222;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #222222;
  transition: color 0.3s ease-in-out;
}
.footer-component .item-list::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #193f6e;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer-component .item-list:hover {
  color: #193f6e;
}
.footer-component .item-list:hover::before {
  transform: scaleX(1);
}
.footer-component .storyset {
  font-size: 1rem;
  text-decoration: none;
  color: #222222;
  position: absolute;
  bottom: 1rem;
  left: 7rem;
}/*# sourceMappingURL=main.css.map */