@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Colors */
/* Breakpoints */
/* Fonts */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: #fbfbfb;
  background-color: #222222;
}

.accent-blue {
  color: #193f6e;
}

.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-color: #3b6ba5;
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-color: #b1d3e3;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0rem auto;
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 110rem;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 100rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-color: #3b6ba5;
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-color: #b1d3e3;
}

#nav-fixed {
  margin: 0 auto;
  width: 100%;
}
#nav-fixed.active {
  position: fixed;
  background-color: #222222;
  top: 0;
  z-index: 1000;
}

.navigation-component {
  padding: 4rem 2rem 3rem 2rem;
  margin: 0 auto;
}
.navigation-component .elements-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation-component .logo {
  width: 18rem;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  .navigation-component .logo {
    width: 15rem;
  }
}
.navigation-component .logo img {
  width: 100%;
  height: 100%;
}
.navigation-component .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1400px) {
  .navigation-component .menu {
    gap: 4rem;
  }
}
@media screen and (max-width: 1250px) {
  .navigation-component .menu {
    gap: 2rem;
  }
}
.navigation-component .list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
  list-style: none;
  padding: 0;
}
.navigation-component .link-menu {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #222222;
}
.navigation-component .link-menu.active {
  color: #222222;
  font-weight: 700;
}
.navigation-component .link-menu.change-color {
  color: #fbfbfb;
}
.navigation-component .link-menu.change-color::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #fbfbfb;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.navigation-component .link-menu.change-color:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation-component .link-menu.contact-page {
  color: #fbfbfb;
}
.navigation-component .link-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.4rem;
  background-color: #222222;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navigation-component .link-menu:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation-component .space {
  display: inline-block;
  width: 8.8rem;
}
.navigation-component .hamburger {
  display: none;
  background-color: #193f6e;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
}
.navigation-component .hamburger .bar {
  display: block;
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #fbfbfb;
}
@media screen and (max-width: 1150px) {
  .navigation-component .menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding-bottom: 5rem;
    flex-direction: column;
    background-color: #222222;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    transition: 0.3s;
    gap: 4rem;
    z-index: 3;
    box-shadow: 0 0.4rem 0.2rem -0.2rem #193f6e;
  }
  .navigation-component .menu.active {
    left: 0;
  }
  .navigation-component .primary-button {
    margin: 0 auto;
  }
  .navigation-component .primary-button.nav {
    background-color: #193f6e;
    color: #fbfbfb;
  }
  .navigation-component .primary-button.nav:hover {
    background-color: #3b6ba5;
  }
  .navigation-component .list {
    padding-top: 8rem;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
  }
  .navigation-component .list-link {
    position: relative;
    width: 70%;
    text-align: center;
    padding: 2rem 0 1rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .navigation-component .link-menu {
    color: #fbfbfb;
    font-weight: 500;
  }
  .navigation-component .link-menu.active {
    color: #fbfbfb;
  }
  .navigation-component .link-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #fbfbfb;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  .navigation-component .link-menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navigation-component .hamburger {
    display: block;
    cursor: pointer;
    z-index: 9;
  }
  .navigation-component .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation-component .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.7rem) rotate(45deg);
  }
  .navigation-component .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-color: #3b6ba5;
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-color: #b1d3e3;
}

.form-component {
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
.form-component .form-text-box {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
}
.form-component .cta-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.form-component .error {
  color: red !important;
  font-size: 1.2rem !important;
  display: block;
  margin-top: 0.5rem;
}
.form-component .form-item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
}
.form-component .form-item label {
  font-size: 1.6rem;
  color: #222222;
}
.form-component .form-item label .icon {
  color: #193f6e;
  margin-right: 0.8rem;
}
.form-component .form-item input,
.form-component .form-item textarea {
  border-radius: 0.6rem;
  background-color: #b1d3e3;
  padding: 1.5rem;
  color: #222222;
  outline: none;
  border: none;
}
.form-component .form-item input::-moz-placeholder, .form-component .form-item textarea::-moz-placeholder {
  color: #494949;
}
.form-component .form-item input::placeholder,
.form-component .form-item textarea::placeholder {
  color: #494949;
}
.form-component .form-item input:focus,
.form-component .form-item textarea:focus {
  border: 0.1rem solid #193f6e;
}
.form-component .form-item input.error,
.form-component .form-item textarea.error {
  border: 0.3rem solid red;
  font-weight: 500;
  color: red;
}
.form-component .btn {
  border: none;
  border-radius: 0.6rem;
  background-color: #193f6e;
  padding: 1.5rem;
  color: #fbfbfb;
  cursor: pointer;
  font-size: 1.8rem;
}
.form-component .btn:hover {
  background-color: #3b6ba5;
}
.form-component .message {
  color: #222;
  display: none;
}
.form-component .message.active {
  display: block;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-color: #3b6ba5;
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-color: #b1d3e3;
}

.about-me-component {
  padding: 22% 0;
  height: 65rem;
  background: url("../../image/sections-img/wave-top.png") top/100% auto, url("../../image/sections-img/wave-bottom.png") bottom/100% auto, linear-gradient(#b1d3e3, #b1d3e3) content-box;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .about-me-component {
    margin-bottom: 5rem;
    height: 105rem;
  }
}
@media screen and (max-width: 420px) {
  .about-me-component {
    height: 98rem;
  }
}
.about-me-component .title {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2rem auto;
}
.about-me-component .title::after {
  content: url("../../image/icons-illustrations/line.svg");
  position: absolute;
  bottom: -5.5rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .about-me-component .title {
    font-size: 4rem;
    margin-top: 5rem;
  }
}
.about-me-component .content {
  display: flex;
  gap: 8rem;
  align-items: center;
  padding: 0 2rem;
}
@media screen and (max-width: 991px) {
  .about-me-component .content {
    flex-direction: column-reverse;
    gap: 5rem;
    margin-top: 5rem;
  }
}
.about-me-component .container-img {
  max-width: 50rem;
  width: 100%;
  height: 100%;
}
.about-me-component .container-img img {
  width: 100%;
  height: 100%;
}
.about-me-component .text {
  border-bottom: 0.3rem solid #193f6e;
  padding-bottom: 1rem;
  position: relative;
}
.about-me-component .text .accent-blue {
  color: #193f6e;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .about-me-component .text {
    text-align: center;
  }
}
.about-me-component .info-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0 3rem 0;
}
.about-me-component .information {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.about-me-component .info-text {
  text-decoration: none;
  color: #222222;
}
.about-me-component .info-text:hover {
  color: #193f6e;
}
.about-me-component .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
.about-me-component .description {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .about-me-component .description {
    width: 100%;
  }
}
.about-me-component .buttons-container {
  display: flex;
  gap: 1rem;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.primary-button {
  background-color: #193f6e;
  color: #fbfbfb;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .primary-button {
    font-size: 1.4rem;
  }
}
.primary-button:hover {
  background-color: #3b6ba5;
}
.primary-button.transp {
  border: 0.2rem solid #193f6e;
  background-color: transparent;
  color: #193f6e;
}
.primary-button.transp:hover {
  background-color: #b1d3e3;
}

.contact-component {
  padding: 0 2rem;
  margin-bottom: 10rem;
  display: flex;
  gap: 8rem;
}
@media screen and (max-width: 991px) {
  .contact-component {
    flex-direction: column;
    gap: 6rem;
  }
}
.contact-component .title {
  font-size: 6rem;
  color: #193f6e;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .contact-component .title {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .contact-component .title {
    font-size: 4rem;
  }
}
.contact-component .description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-component .info-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
@media screen and (max-width: 768px) {
  .contact-component .info-contact {
    margin: 1rem 0;
    gap: 1rem;
  }
}
.contact-component .information {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .contact-component .information {
    margin: 0 auto;
  }
}
.contact-component .info-img .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .contact-component .info-img .icon {
    width: 2rem;
    height: 2rem;
  }
}
.contact-component .icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.contact-component .icon-btn:hover {
  color: #3b6ba5;
}
@media screen and (max-width: 768px) {
  .contact-component .icon-btn {
    width: 3rem;
    height: 3rem;
  }
}
.contact-component .info-text {
  text-decoration: none;
  color: #222222;
}
.contact-component .info-text:hover {
  color: #193f6e;
}
.contact-component .buttons-container {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 991px) {
  .contact-component .buttons-container {
    gap: 1rem;
    margin: 0 auto;
  }
}
.contact-component .container-form {
  max-width: 50rem;
  width: 100%;
  border: 0.2rem solid #193f6e;
  border-radius: 1rem;
}
@media screen and (max-width: 991px) {
  .contact-component .container-form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .contact-component .container-form {
    max-width: 100%;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.experience-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
.experience-component .intro {
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .experience-component .intro {
    margin-bottom: 4rem;
  }
}
.experience-component .title {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2rem auto;
}
@media screen and (max-width: 768px) {
  .experience-component .title {
    font-size: 4rem;
    margin-top: 5rem;
  }
}
.experience-component .subtitle {
  font-size: 1.8rem;
  text-align: center;
}
.experience-component .experience-container {
  border: 0.2rem solid #193f6e;
  border-radius: 1rem;
  padding: 3rem;
}
.experience-component .job {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid #193f6e;
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .experience-component .job {
    flex-direction: column;
    gap: 2rem;
  }
}
.experience-component .info-contact {
  display: flex;
  gap: 4rem;
  margin: 3rem 0 3rem 0;
}
@media screen and (max-width: 768px) {
  .experience-component .info-contact {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
  }
}
.experience-component .information {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.experience-component .info-text {
  text-decoration: none;
  color: #222222;
}
.experience-component .info-text:hover {
  color: #193f6e;
}
.experience-component .icon {
  color: #193f6e;
  width: 2.5rem;
  height: 2.5rem;
}
.experience-component ul {
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .experience-component ul {
    margin-bottom: 4rem;
  }
}
.experience-component ul li {
  margin-bottom: 1rem;
}
.experience-component .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}
.experience-component .skill-name {
  color: #193f6e;
}

/* Colors */
/* Breakpoints */
/* Fonts */
.hero-component {
  position: relative;
  display: flex;
  padding: 5rem 2rem 0;
  gap: 12rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .hero-component {
    gap: 4rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component {
    flex-direction: column;
    gap: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .hero-component {
    gap: 0rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component .hero-description {
    text-align: center;
  }
}
.hero-component .hero-title {
  width: 100%;
  color: #222222;
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .hero-component .hero-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-title {
    font-size: 4rem;
  }
}
.hero-component .hero-title .accent-blue {
  color: #193f6e;
}
.hero-component .hero-text {
  line-height: 4rem;
  margin-bottom: 3rem;
  color: #3b6ba5;
  font-size: 4rem;
}
@media screen and (max-width: 992px) {
  .hero-component .hero-text {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-text {
    font-size: 3rem;
  }
}
.hero-component .hero-img {
  max-width: 50rem;
  width: 100%;
  height: 100%;
}
.hero-component .hero-img img {
  width: 100%;
  height: 100%;
}
.hero-component.left-img {
  flex-direction: row-reverse;
}
@media screen and (max-width: 991px) {
  .hero-component.left-img {
    flex-direction: column;
  }
}
.hero-component .container-btn {
  padding: 1.2rem 0;
}
.hero-component .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  margin-top: 6.5rem;
}
@media screen and (max-width: 991px) {
  .hero-component .buttons-container {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .buttons-container {
    margin-top: 4rem;
    gap: 1rem;
  }
}
.hero-component .icon-btn {
  color: #193f6e;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.hero-component .icon-btn:hover {
  color: #3b6ba5;
}
@media screen and (max-width: 768px) {
  .hero-component .icon-btn {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* Colors */
/* Breakpoints */
/* Fonts */
.skills-component {
  padding: 0 2rem;
  margin-bottom: 20rem;
}
.skills-component .intro {
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .skills-component .intro {
    margin-bottom: 4rem;
  }
}
.skills-component .title {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2rem auto;
}
@media screen and (max-width: 768px) {
  .skills-component .title {
    font-size: 4rem;
    margin-top: 5rem;
  }
}
.skills-component .subtitle {
  font-size: 1.8rem;
  text-align: center;
}
.skills-component .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 8rem 1rem;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .skills-component .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 5rem 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .skills-component .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem 1rem;
  }
}
.skills-component .skill {
  margin: 0 auto;
}
.skills-component .skill-img {
  max-height: 11rem;
  height: 100%;
  max-width: 10rem;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .skills-component .skill-img {
    max-width: 9rem;
    max-height: 9rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-component .skill-img {
    max-width: 7rem;
    max-height: 7rem;
  }
}
.skills-component .skill-img img {
  width: 100%;
  height: 100%;
}
.skills-component .skill-name {
  font-weight: 500;
  text-align: center;
}/*# sourceMappingURL=main.css.map */