/* Colors */
$color-white: #fbfbfb;
$color-black: #222222;
$primary-color: #193f6e;
$primary-color-hover: #3b6ba5;

$blue: #72a5d3;
$blue-light: #b1d3e3;

/* Breakpoints */
$xs-small-screen: 320px;
$xs-screen: 350px;
$xs-screen-mid: 414px;
$xs-screen-max: 767px;
$sm-screen: 768px;
$sm-screen-max: 991px;
$md-screen: 992px;
$md-screen-max: 1199px;
$lg-screen: 1024px;
$lg-screen-max: 1200px;
$max-width: 1400px;

/* Fonts */
$rubik: "Rubik", sans-serif;
