@import "../shared/variables";
@import "../shared/buttons";

#nav-fixed {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: $color-white;
}

.navigation-component {
  padding: 4rem 2rem 3rem 2rem;
  margin: 0 auto;

  .elements-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 18rem;
    height: fit-content;

    @media screen and (max-width: $lg-screen) {
      width: 15rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;

    @media screen and (max-width: $max-width) {
      gap: 4rem;
    }

    @media screen and (max-width: 1250px) {
      gap: 2rem;
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 4rem;
    list-style: none;
    padding: 0;
  }

  .link-menu {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-black;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      height: 3px;
      background-color: $primary-color-hover;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: $primary-color-hover;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  .space {
    display: inline-block;
    width: 8.8rem;
  }

  .hamburger {
    display: none;
    background-color: $primary-color;
    padding: 0.5rem 0.7rem;
    border-radius: 0.4rem;

    .bar {
      display: block;
      width: 2rem;
      height: 0.3rem;
      margin: 0.4rem auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $color-white;
    }
  }

  @media screen and (max-width: 1150px) {
    .menu {
      position: fixed;
      left: -100%;
      top: 0;
      padding-bottom: 5rem;
      flex-direction: column;
      background-color: $color-white;
      width: 100%;
      border-radius: 0 0 1rem 1rem;
      text-align: center;
      transition: 0.3s;
      gap: 4rem;
      z-index: 3;
      box-shadow: 0 0.4rem 0.2rem -0.2rem $primary-color;

      &.active {
        left: 0;
      }
    }

    .primary-button {
      margin: 0 auto;

      &.nav {
        background-color: $primary-color;
        color: $color-white;

        &:hover {
          background-color: $primary-color-hover;
        }
      }
    }

    .list {
      padding-top: 8rem;
      flex-direction: column;
      gap: 0.2rem;
      align-items: center;
    }

    .list-link {
      position: relative;
      width: 70%;
      text-align: center;
      padding: 2rem 0 1rem 0;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    .link-menu {
      color: $color-black;
      font-weight: 500;

      &.active {
        color: $primary-color;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: $color-black;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }

      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    .hamburger {
      display: block;
      cursor: pointer;
      z-index: 9;

      &.active {
        .bar {
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(0.7rem) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-0.7rem) rotate(-45deg);
          }
        }
      }
    }
  }
}
