@import "../shared/variables";
@import "../shared/buttons";

.about-me-component {
  padding: 22% 0;
  height: 55rem;
  background: url("../../image/sections-img/wave-top.png") top / 100% auto,
    url("../../image/sections-img/wave-bottom.png") bottom/100% auto,
    linear-gradient($blue-light, $blue-light) content-box;
  background-repeat: no-repeat;

  @media screen and (max-width: $sm-screen-max) {
    margin-bottom: 5rem;
    height: 105rem;
  }

  @media screen and (max-width: 420px) {
    height: 98rem;
  }

  .title {
    font-size: 6rem;
    font-weight: 500;
    position: relative;
    width: fit-content;
    margin-bottom: 6rem;
    background-image: linear-gradient(
      to left,
      $color-black,
      $primary-color-hover
    );
    color: transparent;
    background-clip: text;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10rem;
      height: 0.3rem;
      content: "";
      background-color: $primary-color;
    }

    @media screen and (max-width: $sm-screen) {
      font-size: 4rem;
      margin-top: 5rem;
      margin-bottom: 2.5rem;
    }
  }

  .content {
    display: flex;
    gap: 8rem;
    align-items: center;
    padding: 0 2rem;

    @media screen and (max-width: $sm-screen-max) {
      flex-direction: column-reverse;
      gap: 5rem;
      margin-top: 2rem;
    }
  }

  .container-img {
    max-width: 50rem;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text {
    border-bottom: 0.1rem solid $primary-color;
    padding-bottom: 1rem;
    position: relative;

    .accent-blue {
      color: $primary-color;
      font-weight: 500;
    }
  }

  .info-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 3rem 0;
  }

  .description {
    width: 50%;

    @media screen and (max-width: $sm-screen-max) {
      width: 100%;
    }
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
  }
}
