@import "../shared/variables";
@import "../shared/buttons";

.contact-component {
  padding: 0 2rem;
  margin-bottom: 10rem;
  display: flex;
  gap: 8rem;

  @media screen and (max-width: $sm-screen-max) {
    flex-direction: column;
    gap: 6rem;
  }

  .title {
    font-size: 6rem;
    background-image: linear-gradient(
      to left,
      $color-black,
      $primary-color-hover
    );
    color: transparent;
    background-clip: text;
    font-weight: 500;

    @media screen and (max-width: $sm-screen) {
      font-size: 4rem;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .info-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;

    @media screen and (max-width: $sm-screen) {
      margin: 1rem 0;
      gap: 1rem;
    }
  }

  .buttons-container {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: $sm-screen-max) {
      gap: 1rem;
    }
  }

  .container-form {
    max-width: 50rem;
    width: 100%;
    border: 0.2rem solid $primary-color;
    border-radius: 1rem;

    @media screen and (max-width: $sm-screen-max) {
      margin: 0 auto;
    }

    @media screen and (max-width: $sm-screen) {
      max-width: 100%;
    }
  }
}
