@import "../shared/variables";
@import "../shared/buttons";

.contact-component {
  margin-bottom: 10rem;
  display: flex;
  gap: 8rem;

  @media screen and (max-width: $sm-screen-max) {
    flex-direction: column;
    gap: 6rem;
  }

  .title {
    font-size: 6rem;
    color: $primary-color;
    font-weight: 500;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .info-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0 3rem 0;
  }

  .information {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .info-text {
    text-decoration: none;
    color: $color-black;

    &:hover {
      color: $primary-color;
    }
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
  }

  .container-form {
    max-width: 50rem;
    width: 100%;
    border: 0.2rem solid $primary-color;
    border-radius: 1rem;
  }
}
